@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.writing-vertical {
  writing-mode: vertical-lr;
}

html {
  scroll-behavior: smooth;
}

/* account for sticky header (h-[72px]) when navigating via #hash */
.section-wrapper {
  scroll-margin-top: 88px;
}
